{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div class="uk-flex uk-flex-column uk-height-viewport">

        {% include "partials/navbar.partial.njk" %}

        <div class="uk-section hero">
            <img src="assets/images/graph.png" alt="graph" id="graph-image">
            <div class="uk-margin-auto-vertical uk-width-1-1">

                <div class="uk-container">
                    <div class="uk-grid-collapse uk-margin-auto-vertical uk-flex-middle uk-text-center" uk-grid>

                        <div class="hero-image uk-width-1-1 uk-width-1-2@m uk-margin-medium-bottom uk-margin-remove-bottom@m">
                            <img src="assets/images/laptop.png" id="laptop-image" alt="laptop">
                        </div>

                        <div class="uk-width-1-1 uk-width-1-2@m uk-flex-first@m uk-text-left@m">
                            <img src="{{app.logo}}" alt="{{app.title}}" width="148">
                            <h2 class="uk-heading uk-margin-small-top">
                                Trade Stablecoins Trustlessly
                            </h2>
                            <a class="uk-button uk-button-primary uk-margin-medium-top">OPEN APP</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="uk-section uk-section-secondary uk-padding-medium">
            <div class="uk-container">
                <div class="uk-flex-middle uk-text-center" uk-grid>

                    <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-around uk-width-1-2@m">
                        <img src="assets/images/usd_coin.png" alt="USDC">
                        <img src="assets/images/paxo.png" alt="PAXOS">
                        <img src="assets/images/dai.png" alt="DAI">
                    </div>

                    <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m uk-flex-first@m">
                        <h2 class="uk-heading">
                            Largest selection of stablecoins 
                        </h2>
                        <p class="uk-text-large uk-text-muted">
                            USDC, PAX, DAI 
                        </p>
                    </div>

                </div>
            </div>
        </div>
    
    </div>

    <!-- Currencies -->
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-center uk-width-1-2@m uk-text-left@m">
                    <img src="assets/images/currency_icons.png" alt="Currencies" width="40%">
                </div>

                <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                    <h2 class="uk-heading text-medium">Stablecoins in various currencies</h2>
                    <p class="uk-text-large">USD, Korean Won, SGD and so on</p>
                    <a href="#" class="uk-button button-gradient">Know More</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Wallet -->
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-width-1-2@m uk-flex-last@m uk-text-right@m">
                    <img src="assets/images/metamask_wallet.png" alt="Metamask Wallet" height="80%">
                </div>

                <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                    <h2 class="uk-heading text-medium">Trade directly from your wallet</h2>
                    <p class="uk-text-large">Text Content Goes here for the heading aside </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Coming Soon! -->

    <div class="uk-section" id="coming-soon">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div id="coming-soon-images" class=" uk-width-1-1 uk-flex uk-flex-middle uk-flex-center uk-flex-left@m uk-width-1-2@m uk-text-left@m">
                    <img src="assets/images/trezor_image.png" id="trezor-image" alt="Trezor">
                    <img src="assets/images/ledger.png" id="ledger-image" alt="Ledger">
                </div>

                <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                    <h2 class="uk-heading text-medium">Coming soon</h2>
                    <p class="uk-text-large">Ledger and Trezor Integration <br> Leveraged Trading and Shorting</p>
                </div>

            </div>
        </div>
    </div>

    {% include "partials/footer.partial.njk" %}
{% endblock %}