{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div class="uk-flex uk-flex-column uk-height-viewport">

        {% include "partials/navbar.partial.njk" %}

        <div class="uk-section hero">
            <img src="assets/images/hero_v2.png" id="graph-image">
            <div class="uk-margin-auto-vertical uk-width-1-1">

                <div class="uk-container" uk-parallax="y:0,-50; opacity: 1,0.5">
                    <div class="uk-grid-collapse uk-margin-auto-vertical uk-flex-middle uk-text-center" uk-grid>

                        {# <div class="hero-image uk-width-1-1 uk-width-1-2@m uk-margin-medium-bottom uk-margin-remove-bottom@m">
                            <img src="assets/images/laptop.png" id="laptop-image" alt="laptop">
                        </div> #}

                        <div class="uk-width-1-1 uk-width-1-3@m uk-text-left@m">
                            <img src="{{app.logo}}" alt="{{app.title}}" width="148"  data-aos="fade-right">
                            <h2 class="uk-heading uk-margin-small-bottom"  data-aos="fade-right" data-aos-delay="100">
                                One Stop Market for Stablecoins
                            </h2>
                            <p class="uk-text-large uk-margin-remove-top">Buy stablecoins with USD</p>
                            <div class="uk-margin-medium-top" data-aos="fade-up" data-aos-delay="400">
                                <a target="_blank" href="https://alpha.kovan.fordex.co/trade/USDC-PAX" class="uk-button uk-button-primary">OPEN APP</a>                            
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Selection -->
        <div class="uk-section uk-section-secondary uk-padding-small uk-padding-medium-horizontal@m">
            <div class="uk-container">
                <div class="uk-flex-middle uk-text-center" uk-grid>

                    <div class="currency-images uk-grid-collapse uk-width-1-1 uk-flex uk-flex-stretch uk-width-2-3@m" uk-grid>
                        <a target="_blank" href="{{links.krwb}}"><img src="assets/images/krwb-logo.png" alt="KRWb" data-aos="flip-left" data-aos-delay="700"></a>
                        <a target="_blank" href="{{links.usdc}}"><img src="assets/images/usd_coin.png" alt="USDC" data-aos="flip-left" data-aos-delay="800"></a>
                        <a target="_blank" style="flex:2" href="{{links.paxos}}"><img src="assets/images/paxo.png" alt="PAXOS" data-aos="flip-left" data-aos-delay="900"></a>
                        <a target="_blank" href="{{links.dai}}"><img src="assets/images/dai.png" alt="DAI" data-aos="flip-left" data-aos-delay="1000"></a>
                    </div>

                    <div class="uk-width-1-1 uk-width-1-3@m uk-text-left@m uk-flex-first@m">
                        <h2 class="uk-heading" data-aos="fade-up" data-aos-delay="600">
                            Large selection of stablecoins 
                        </h2>
                        <p class="uk-text-large uk-text-muted" data-aos="fade-up" data-aos-delay="650" data-aos-offset="0">
                            USDC, PAX, DAI, KRWb and more...
                        </p>
                    </div>

                </div>
            </div>
        </div>
    
    </div>

    <!-- Currencies -->
    <div class="uk-section fordex-panel">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div class="currency-images-2 uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-around">
                    <a href="#"><img src="assets/images/currency_icons_0.png" data-aos="flip-right" data-aos-delay="100"></a>
                    <a href="#"><img src="assets/images/currency_icons_2.png" data-aos="flip-right" data-aos-delay="200"></a>
                    <a href="#"><img src="assets/images/currency_icons_1.png" data-aos="flip-right" data-aos-delay="300"></a>
                </div>

                <div class="uk-width-1-1 uk-margin-large-left uk-width-1-3@m uk-text-left@m">
                    <h1 class="uk-heading text-medium" data-aos="fade-left">Stablecoins in various currencies</h1>
                    <p class="uk-text-large uk-text-justify" data-aos="fade-left" data-aos-delay="50">Build a portfolio and trade across top stablecoin projects representing real currencies including the US Dollar, Korean Won and Singapore Dollar</p>
                    <div data-aos="fade-up" data-aos-delay="400">
                        <a target="_blank" href="https://satoshiand.co/stablecoinwatch/" class="uk-button button-gradient">Know More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Wallet -->
    <div class="uk-section uk-section-muted fordex-panel">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div class="uk-width-1-1 uk-flex uk-flex-around uk-flex-middle uk-width-2-3@m uk-flex-last@m uk-text-right@m">
                    <div>
                        <img src="assets/images/metamask_wallet.png" alt="Metamask Wallet" width="80%" data-aos="zoom-in">
                    </div>
                    <div>
                        <img src="assets/images/ledger_wallet.png" alt="Ledger Wallet" width="80%" data-aos="zoom-in" data-aos-delay="100">
                    </div>
                    <div>
                        <img src="assets/images/trezor_wallet.png" alt="Trezor Wallet" width="80%" data-aos="zoom-in" data-aos-delay="200">
                    </div>
                </div>

                <div class="uk-width-1-1 uk-width-1-3@m uk-text-left@m">
                    <h1 class="uk-heading text-medium" data-aos="fade-right">Multi Wallet Support</h1>
                    <p class="uk-text-large uk-text-justify" data-aos="fade-right" data-aos-delay="50">Directly trade from your choice of wallets without ever giving up custody of your digital assets or trusting a centralized counterparty</p>
                </div>

            </div>
        </div>
    </div>

    <!-- Coming Soon! -->

    <div class="uk-section fordex-panel" id="coming-soon">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div id="coming-soon-images" class=" uk-width-1-1 uk-flex uk-flex-middle uk-flex-start uk-flex-left@m uk-width-2-3@m uk-text-left@m">
                    <img src="assets/images/fiat.png" alt="convert" data-aos="fade-up">
                </div>

                <div class="uk-width-1-1 uk-width-1-3@m uk-text-left@m">
                    <h1 class="uk-heading text-medium" data-aos="fade-left">Fiat On-Ramp</h1>
                    <p class="uk-text-large">
                        <div class="uk-text-large uk-text-justify" data-aos="fade-left" data-aos-delay="50">Directly convert your US Dollars into stablecoins to trade your favourite cryptocurrencies</div>
                        {# <div class="uk-text-large" data-aos="fade-left" data-aos-delay="100">Leveraged Trading and Shorting</div> #}
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Coming Soo 2 -->

    <div class="uk-section uk-section-muted fordex-panel">
        <div class="uk-container">
            <div class="uk-flex-middle uk-text-center" uk-grid>

                <div class=" uk-width-1-1 uk-width-2-3@m uk-text-left@m uk-flex uk-flex-right uk-flex-last@m">
                    <img src="assets/images/graph-leveraged.png" id="trezor-image" alt="Trezor" data-aos="fade-up">
                </div>

                <div class="uk-width-1-1 uk-width-1-3@m uk-text-left@m">
                    <h1 class="uk-heading text-medium" data-aos="fade-right">Leveraged Trading and Shorting</h1>
                    <p class="uk-text-large">
                        <div class="uk-text-large uk-text-justify" data-aos="fade-right" data-aos-delay="50">Use our tools to take leveraged positions on either side of trades in new and upcoming markets</div>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Partners -->
    <div class="uk-section fordex-panel" id="partners">
        <div class="uk-container">
            <h1 class="uk-heading uk-text-center" data-aos="fade-down">Partners</h1>
            <div class="uk-flex uk-flex-center uk-flex-middle">
                <div class="partner" data-aos="fade-up">
                    <img src="assets/images/ox-logo.png" height="47px" alt="OX">
                </div>
                <div class="partner" data-aos="fade-up" data-aos-delay="100">
                    <a target="_blank" href="{{links.wyre}}"><img height="48px" src="assets/images/wyre-logo.png" alt="wyre"></a>
                </div>
                <div class="partner" data-aos="fade-up" data-aos-delay="100">
                    <img src="assets/images/qcp_capital.png" width="100px" alt="qcp capital">
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.partial.njk" %}
{% endblock %}