/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the mixin overwrites for customizing UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _variables.scss for overriding or including variables
*/

// => Your hooks here //

/*
@mixin hook-card () {

    // => Include customization for card
    
}
*/

@mixin hook-button() {

    border-radius: $border-radius;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-weight: 600;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
        box-shadow: none;
    }
}

@mixin hook-form () {

    border-radius: $border-radius;
    transition: background 0.3s;
}