/*
* -------------------------------------------------------------------------------------------------------------------
* This file manages the custom theming of UIKit.
* -> Refer to https://getuikit.com/docs/sass for more info.
* -> Follow the link: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss for a list of all variables
* -------------------------------------------------------------------------------------------------------------------
* Note: Do not use this file for writing custom css.
* Note: Use _hooks.scss for mixin overwrites
*/

// COLORS //
$primary:   #59E7B7;
$secondary: #1D1D33;

$success:   #8bc34a;
$warning:   #ffc107;
$danger :   #f44336;
$muted  :   #EBEBEB;

$dark   :   #090327;
$gray   :   #8F8F8F;
$light  :   #FFFFFF;

$border-radius: 0.15rem;

// OVERRIDES //
$global-primary-background: $primary;
$global-secondary-background: $secondary;

$global-success-background: $success;
$global-warning-background: $warning;
$global-danger-background: $danger;
$global-muted-background: $muted;

$global-link-color: $primary;
$base-link-hover-text-decoration: none;

$global-color: $gray;
$global-emphasis-color: $secondary;
$global-inverse-color: $light;

$global-font-family: 'nowayregular','Quicksand', 'Roboto', sans-serif;
$global-font-size: 15px;
// $text-lead-font-size: 2rem;
// => Add your own theming variables below //

//button

$button-primary-color: $secondary;
$button-primary-hover-background: darken($primary, 20%) !default;
$button-primary-hover-color: $secondary;

$inverse-button-primary-background: $global-primary-background;
$inverse-button-primary-color: $button-primary-color;
$inverse-button-primary-hover-color: $button-primary-hover-color;
$inverse-button-primary-hover-background: $button-primary-hover-background;

//form
$inverse-form-background: $dark;

// (x) Donot write custom styling here //