<div class="footer uk-section uk-padding uk-section-secondary uk-text-small">
    <div class="uk-container">
        <div class="uk-text-center uk-grid-medium" uk-grid>

            <div class="uk-width-1-2 uk-width-1-5@m uk-text-left">
                <img src="assets/images/logo.svg" alt="{{app.title}}" width="50%">
                <div class="dark-divider"></div>
                <div class="uk-flex uk-flex-middle">
                    <img src="assets/images/ox_build.png" alt="OX" style="width:25px; height:25px">
                    <span class="uk-text-lead@m uk-margin-small-left">Built on Ox</span>
                </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-5@m uk-text-right uk-text-left@m">
                <ul id="footer-link-list" class="uk-list">
                    <li><a href="#" class="uk-link-muted">Open App</a></li>
                    <li><a href="#" class="uk-link-muted">Link 01</a></li>
                    <li><a href="#" class="uk-link-muted">Documentation Link</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-2-5@m uk-text-left@m">
                <h5 class="uk-heading uk-text-muted">SignUp For Our News Letter</h5>
                <form action="#" id="subscription-form" class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-1 uk-width-3-4@m">
                        <div class="uk-inline uk-width-1-1">
                            <i class="fa fa-envelope uk-form-icon"></i>
                            <input type="email" class="uk-input uk-form-small " name="email" placeholder="Your Email">
                        </div>
                    </div>
                    
                    <div class="uk-width-1-1 uk-width-1-4@m">
                        <button class="uk-button uk-button-small uk-button-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="uk-width-1-1 uk-width-1-5@m uk-text-left@m">
                <h5 class="uk-heading uk-text-muted">Send Us A Signal</h5>
                <div class="social">
                    <a href="#" class="social-link"><i class="fas fa-paper-plane"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-medium-m"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-secondary uk-text-center uk-text-small uk-padding-small uk-text-muted">
    &copy;Copyright Fordex | 2019
</div>