<div class="footer uk-section uk-padding uk-section-secondary uk-text-small">
    <div class="uk-container">
        <div class="uk-text-center uk-grid-medium" uk-grid>

            <div class="uk-width-1-2 uk-width-1-4@m uk-text-left">
                <img src="assets/images/logo.svg" alt="{{app.title}}" width="50%" data-aos="flip-up">
                <div class="dark-divider"></div>
                <div class="uk-flex uk-flex-middle">
                    <img src="assets/images/ox_build.png" alt="OX" style="width:25px; height:25px" data-aos="fade-right">
                    <span class="uk-text-lead@m uk-margin-small-left"  data-aos="fade-right"  data-aos-delay="100">Built on Ox</span>
                </div>
            </div>
            {# <div class="uk-width-1-2 uk-width-1-5@m uk-text-right uk-text-left@m">
                <ul id="footer-link-list" class="uk-list">
                    <li data-aos="fade-right" data-aos-offset="0"><a href="#" class="uk-link-muted">Open App</a></li>
                    <li data-aos="fade-right" data-aos-delay="50"><a href="#" class="uk-link-muted">Link 01</a></li>
                    <li data-aos="fade-right" data-aos-delay="100"><a href="#" class="uk-link-muted">Documentation Link</a></li>
                </ul>
            </div> #}
            <div class="uk-width-1-1 uk-width-1-2@m uk-text-left@m">
                <h5 class="uk-heading uk-text-muted" data-aos="fade-up">SignUp For Our News Letter</h5>
                <form action="https://www.getrevue.co/profile/zpx/add_subscriber" id="subscription-form" class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-1 uk-width-3-4@m" data-aos="fade-up" data-aos-delay="200">
                        <div class="uk-inline uk-width-1-1">
                            <i class="fa fa-envelope uk-form-icon"></i>
                            <input type="email" auto-fill="true" class="uk-input uk-form-small " name="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    
                    <div class="uk-width-1-1 uk-width-1-4@m" data-aos="fade-up" data-aos-delay="250">
                        <button type="submit" class="uk-button uk-button-small uk-button-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="uk-width-1-1 uk-width-1-4@m uk-text-left@m">
                <h5 class="uk-heading uk-text-muted" data-aos="fade-up" data-aos-delay="500">Send Us A Signal</h5>
                <div class="social" data-aos="zoom-in-up" data-aos-delay="550">
                    <a href="{{social.telegram}}" class="social-link"><i class="fab fa-telegram-plane"></i></a>
                    <a href="{{social.twitter}}" class="social-link" ><i class="fab fa-twitter"></i></a>
                    <a href="{{social.medium}}" class="social-link"><i class="fab fa-medium-m"></i></a>
                    <a href="{{social.reddit}}" class="social-link"><i class="fab fa-reddit"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-secondary uk-text-center uk-text-small uk-padding-small uk-text-muted">
    &copy; Copyright Fordex | 2019
</div>