<div class="uk-section uk-section-secondary uk-padding-remove">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" id="navbar" uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <a href="{{app.url}}" class="uk-navbar-item">
                    <img src="{{app.logo}}" alt="{{app.title}}" uk-img>
                </a>
            </div>
        </nav>
    </div>
</div>