<div class="preloader" id="preloader">
    <div class="loader">
        <img src="/assets/images/preloader/circle.svg" class="circle">
        <img src="/assets/images/preloader/lines.svg" class="lines">
    </div>
    <div class="loader-text uk-text-center">
        <p>Minting Stablecoins</p>
    </div>
</div>